:root {
  --main-bg-color: #263239;
  --main-text-color: #fff;
  --primary-color: #2bc7ba;
  --primary-hover: #1dbcaf;
  --primary-active: #1bb0a3;
  --onPrimary-color: #fff;
  --secondary-color: #dba159;
  --secondary-hover: #c9822c;
  --secondary-active: #c78120;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(199, 129, 32, 0.4);
	background-color: var(--secondary-color);
}

*::-webkit-scrollbar-track::a
{
	-webkit-box-shadow: inset 0 0 6px rgba(199, 129, 32, 0.4);
	background-color: var(--secondary-color);
}

*::-webkit-scrollbar
{
	width: 12px;
	background-color: var(--secondary-color);
}

*::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(24, 32, 37, 0.25);
  border-radius: 1em;
	background-color: var(--main-bg-color);
}

/* *::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
} */

*:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bg-color);
  border: solid 18px var(--secondary-color);
  min-height: 100%;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}


.flex-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-main {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-footer{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h1,
h2, h3 {
  text-align: center;
  color: var(--main-text-color);
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 3em;
  margin: 20px 0px 0px 0px;
  color: var(--secondary-color);

}

h2 {
  margin: 10px;
  color: var(--onPrimary-color);
}

h3 {
  margin: 10px;
}

div.preview svg {
  display: flex;
  margin: 1em auto;
}

div.details {
  /* margin: 5px auto 30px; */
  color: #fff;
  display: none;
  flex-direction: row;
  justify-content: center;
  /* max-width: 50%; */
}

div.details div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25%;
  padding: 0px 0.5em;
}

div.details div p.detail_label{
  font-weight: bold;
  margin-right: 1em;
}

div.details div p.detail_label{
  font-weight: bold;
}

svg:nth-of-type(1) {
  border: dashed 2px rgba(255, 255, 255, 0.3);
  padding: 5px;
  border-radius: 10px;
}

#svg_sizing_options {
  display: none;
}

div.container{
  /* margin: 40px auto 0px auto; */
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.btn-row{
  /* margin: 40px auto 0px auto; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
}

div.button-holder button{
  min-width: 5em;
  
}

div.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em auto;
  /* width: 150px;
  height: 36px;
  margin: 40px auto 0px auto;
  display: block;
  position: relative;
  cursor: pointer; */
}

div.button-holder {
  justify-content: center;
  display: flex;
}

#upload-button{
  width: 10em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor:pointer;
}

div.btn-wrapper:hover label.btn {
  background-color: #1dbcaf;
}

div.btn-wrapper:active label.btn {
  background-color: #1bb0a3;
}

label.btn {
  text-align: center;
  padding: 10px 15px;
  box-sizing: border-box;
  background-color: #2bc7ba;
  color: var(--main-text-color);
  /* position: absolute;
  width: 100%; */
  cursor: pointer;
  border-radius: 4px;
}

input[type="file"] {
  width: 150px;
  height: 36px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: none;
}

form {
  display: none;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
}

form input[type="number"] {
  padding: 10px 10px;
  border-radius: 4px;
  min-width: 6em;
  border: none;
  font-size: 1em;
  display: inline-block;
  margin: 5px;
}

button {
  text-align: center;
  padding: 10px 15px;
  background-color: #2bc7ba;
  color: var(--main-text-color);
  border-radius: 4px;
  font-size: 1em;
  border: none;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1dbcaf;
}

button:active {
  background-color: #1bb0a3;
}

.download-png {
  font-size: 1.3em;
  padding: 10px 45px;
  background-color: var(--secondary-color);
  text-decoration: none;
  color: var(--main-text-color);
  border-radius: 4px;
  display: inline-block;
}

.download-png:hover {
  background-color: var(--secondary-hover);
}

.download-png:active {
  background-color: var(--secondary-active);
}

div.download-wrapper {
  margin: 1em;
  display: none;
  text-align: center;
}

img {
  display: none;
}

div.credits {
  margin-top: 50px;
  color: rgba(255, 255, 255, .8);
  text-align: center;
}

div.credits a {
  color: #2bc7ba;
  text-decoration: none;
  border-bottom: dashed 1px #2bc7ba;
}

div.credits a:hover {
  border-bottom: none;
}

div.credits span {
  color: #F26183;
}

p.promote {
  color: rgba(255, 255, 255, .8);
  text-align: center;
}

p.promote a {
  color: #2bc7ba;
  text-decoration: none;
  border-bottom: dashed 1px #2bc7ba;
  margin: 5px 10px;
  display: inline-block;
}

p.promote a:hover {
  border-bottom: none;
}

p.promote span {
  color: #F26183;
}